@import url("https://fonts.googleapis.com/css?family=Oswald:400,400i,500,700");

body {
  background-image: url("/images/checkers.jpg");
  background-color: black;
  font-family: verdana, sans-serif, arial, helvetica;
}

.logo-bg {
  background-color: #090909;
}

.text-gradient {
  background-size: 100%;
  background-color: white;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#090909, #c1bdbd, #090909);
}

.slide {
  display: none;
}

.headline {
  font-family: "Oswald", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
